<div class=" container p-4 justify-center flex flex-col items-start" >
    <div class="m-4 p-4 flex flex-col justify-start items-start">
        <h1 class="text-4xl md:text-4xl lg:text-4xl font-bold text-[30px] p-4 text-[var(--color-text)] self-center">Software I use, gadgets I love, and other things I recommend.
        </h1>
        <p class="text-[var(--color-text)] m-2 text-[14px]">I get asked a lot about the things I use to build software, stay productive, or buy to fool myself into thinking I`m being productive when I`m really just procrastinating. Here`s a big list of all of my favorite stuff.</p>
    </div>
    <div class="p-4  grid grid-cols-2 gap-2">
        <p class="text-[var(--color-text)] font-bold"> Workstation</p>
        <div class="p-1">
            <h1 class="text-[var(--color-text)] text-xl font-bold">13” MacBook Pro, M1, 16GB RAM (2021)</h1>
            <p class="text-zinc-700 text-[14px]">I was using an Intel-based 13” MacBook Pro prior to this and the difference is night and day. I`ve never heard the fans turn on a single time, even under the incredibly heavy loads I put it through with our various launch simulations.</p>
            <h1 class="text-[var(--color-text)] text-xl font-bold">iMac (Retina 5K, 27-inch, 2017)</h1>
            <p class="text-zinc-700 text-[14px]">I was using an Intel-based 27” iMac to this and the difference is night and day. I`ve never heard the fans turn on a single time, even under the incredibly heavy loads I put it through with our various launch simulations.</p>
        </div>
        <p class="text-[var(--color-text)] font-bold">Development tools</p>
        <div class="p-1">
            <h1 class="text-[var(--color-text)] text-xl font-bold">iTerm2</h1>
            <p class="text-zinc-700 text-[14px]">I`m honestly not even sure what features I get with this that aren`t just part of the macOS Terminal but it`s what I use.</p>
            <h1 class="text-[var(--color-text)] text-xl font-bold">Vs code</h1>
            <p class="text-zinc-700 text-[14px]">Visual Studio Code is a code editor redefined and optimized for building and debugging modern web and cloud applications.</p>
        <!-- </div>
        <p class="text-white font-bold">Productivity</p>
        <div class="p-1">
            <h1 class="text-white text-xl font-bold">13” MacBook Pro, M1, 16GB RAM (2021)</h1>
            <p class="text-zinc-700 text-[14px]">I was using an Intel-based 13” MacBook Pro prior to this and the difference is night and day. I`ve never heard the fans turn on a single time, even under the incredibly heavy loads I put it through with our various launch simulations.</p>
            <p class="text-zinc-700 text-[14px]">I was using an Intel-based 13” MacBook Pro prior to this and the difference is night and day. I`ve never heard the fans turn on a single time, even under the incredibly heavy loads I put it through with our various launch simulations.</p>
        </div> -->
    </div>

</div>
