<div class="bg-zinc-700">
  <div class="flex flex-col justify-center items-center bg-[var(--color-bg)]">
    <div
      class="md:w-[1000px] w-[100%] lg:w-[1000px] flex justify-evenly p-2 items-center md:rounded-xl lg:rounded-xl m-2"
    >
      <img
        class="m-1 w-[50px] rounded-3xl border-white-8 border"
        src="https://i.pinimg.com/564x/e2/64/50/e264503e4088502818ac2d99cebef268.jpg"
        alt=""
      />
      <app-nav class="hidden md:block lg:block"></app-nav>
      <button
        (click)="menu()"
        class="h-[40px] md:hidden lg:hidden w-[100px] bg-[var(--color-bg)] rounded-xl text-[var(--color-text)] hover:text-teal-500"
      >
        Menu
      </button>
      <!-- them -->
      <button
        (click)="theme()"
        class="m-1 w-[50px] h-[40px] bg-[var(--color-bg)] fill-[var(--color-text)] border rounded-3xl flex justify-center items-center"
      >
        <svg
          *ngIf="darkmode"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: rgb(255, 255, 255); transform: ; msfilter: "
        >
          <path
            d="M12 11.807A9.002 9.002 0 0 1 10.049 2a9.942 9.942 0 0 0-5.12 2.735c-3.905 3.905-3.905 10.237 0 14.142 3.906 3.906 10.237 3.905 14.143 0a9.946 9.946 0 0 0 2.735-5.119A9.003 9.003 0 0 1 12 11.807z"
          ></path>
        </svg>
        <svg
          *ngIf="!darkmode"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          style="fill: rgb(4, 0, 0); transform: ; msfilter: "
        >
          <path
            d="M6.995 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007-2.246-5.007-5.007-5.007S6.995 9.239 6.995 12zM11 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2H2zm17 0h3v2h-3zM5.637 19.778l-1.414-1.414 2.121-2.121 1.414 1.414zM16.242 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.344 7.759 4.223 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z"
          ></path>
        </svg>
      </button>
      <!-- them -->
    </div>
    <div
      class="w-screen max-w-[1000px] m-auto md:rounded-xl lg:rounded-xl bg-[var(--color-bg)] relative"
    >
      <div
        *ngIf="v"
        class="md:hidden lg:hidden absolute z-10 left-0 right-0 backdrop-blur-[1.5px] top-0 bottom-0 flex justify-center"
      >
        <div
          class="w-[100%] absolute bg-[var(--color-bg)] flex flex-col justify-start gap-5 rounded-b-xl p-6"
        >
          <div class="h-[40px] w-[100%] flex justify-between">
            <p class="text-[var(--color-text)]">Navigation</p>
            <button
              (click)="menu()"
              class="h-[20px] w-[20px] bg-[var(--color-bg)] rounded-xl text-[var(--color-text)] flex justify-center items-center"
            >
              X
            </button>
          </div>
          <a
            (click)="menu()"
            routerLink="/"
            class="text-[var(--color-text)] hover:text-teal-500"
            >About</a
          >
          <a
            (click)="menu()"
            routerLink="/projects"
            class="text-[var(--color-text)] hover:text-teal-500"
          >
            Projects</a
          >
          <a
            (click)="menu()"
            routerLink="/uses"
            class="text-[var(--color-text)] hover:text-teal-500"
          >
            Uses</a
          >
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
