<div class="container">
  <div class="p-4 justify-center flex flex-col items-start">
    <div class="m-4 p-4 flex flex-col justify-start items-start">
      <h1
        class="text-4xl md:text-4xl lg:text-4xl font-bold text-[30px] p-4 text-white self-center"
      >
        Things I`ve made trying to put my dent in the universe.
      </h1>
      <p class="text-zinc-700 m-2 text-[14px]">
        I`ve worked on tons of little projects over the years but these are the
        ones that I'm most proud of. Many of them are open-source, so if you see
        something that piques your interest, check out the code and contribute
        if you have ideas for how it can be improved.
      </p>
    </div>
    <div></div>
  </div>
  <div class="flex justify-center items-center flex-wrap gap-[50px]">
    <div
      *ngFor="let item of projects"
      class="flex flex-col justify-center items-center h-[100px] rounded-xl w-[200px] bg-purple-400"
    >
      {{ item }}
    </div>
  </div>
</div>
