@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --color-bg:white;
    --color-text:black;
    --color-bg2:rgba(18, 17, 17, 0.338);
    --v:10;
    --color-home:white;
}

[data-theme="dark"]{
    --color-bg:black;
    --color-text:white;
    --color-bg2:rgba(255, 255, 255, 0.466);
    --v:20;
    --color-home:black;
}